! Load Pywal colors if available
#include "/home/qwefg/.cache/wal/colors.Xresources"

! Pywal -> dwm mappings
dwm.normfgcolor: color15
dwm.normbgcolor: color0
dwm.normbordercolor: color15
dwm.selfgcolor: color0
dwm.selbgcolor: color15
dwm.selbordercolor: color15
